body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:624px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u924 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u925 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u926 {
  position:absolute;
  left:10px;
  top:82px;
  width:614px;
  height:1205px;
}
#u927 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u928 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u929 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u930 {
  position:absolute;
  left:68px;
  top:12px;
  width:133px;
  height:42px;
  font-size:32px;
  color:#CCCCCC;
}
#u931 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u932 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:970px;
}
#u933 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u934 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:90px;
}
#u935 {
  position:absolute;
  left:40px;
  top:1058px;
  width:546px;
  height:90px;
}
#u936 {
  position:absolute;
  left:2px;
  top:37px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:90px;
}
#u937 {
  position:absolute;
  left:316px;
  top:1058px;
  width:141px;
  height:90px;
}
#u938 {
  position:absolute;
  left:2px;
  top:37px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u939 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u940 {
  position:absolute;
  left:83px;
  top:1116px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u941 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u942 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u943 {
  position:absolute;
  left:201px;
  top:1116px;
  width:87px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u944 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u945 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u946 {
  position:absolute;
  left:344px;
  top:1116px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u947 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u948 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u949 {
  position:absolute;
  left:491px;
  top:1116px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u950 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u951 {
  position:absolute;
  left:219px;
  top:1066px;
  width:50px;
  height:50px;
}
#u952 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:46px;
}
#u953 {
  position:absolute;
  left:486px;
  top:1065px;
  width:50px;
  height:46px;
}
#u954 {
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:50px;
}
#u955 {
  position:absolute;
  left:90px;
  top:1062px;
  width:39px;
  height:50px;
}
#u956 {
  position:absolute;
  left:2px;
  top:17px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u957 {
  position:absolute;
  left:359px;
  top:1065px;
  width:50px;
  height:42px;
}
#u958 {
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:45px;
}
#u959 {
  position:absolute;
  left:41px;
  top:179px;
  width:543px;
  height:45px;
}
#u960 {
  position:absolute;
  left:2px;
  top:14px;
  width:539px;
  visibility:hidden;
  word-wrap:break-word;
}
#u961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:836px;
}
#u961 {
  position:absolute;
  left:42px;
  top:222px;
  width:542px;
  height:836px;
  opacity:0.5;
}
#u962 {
  position:absolute;
  left:2px;
  top:410px;
  width:538px;
  visibility:hidden;
  word-wrap:break-word;
}
#u963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  color:#4BACB4;
}
#u963 {
  position:absolute;
  left:65px;
  top:323px;
  width:112px;
  height:27px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  color:#4BACB4;
}
#u964 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#4BACB4;
}
#u965 {
  position:absolute;
  left:65px;
  top:523px;
  width:91px;
  height:23px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#4BACB4;
}
#u966 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#4BACB4;
}
#u967 {
  position:absolute;
  left:65px;
  top:423px;
  width:91px;
  height:23px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#4BACB4;
}
#u968 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#4BACB4;
}
#u969 {
  position:absolute;
  left:65px;
  top:623px;
  width:91px;
  height:23px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#4BACB4;
}
#u970 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#4BACB4;
}
#u971 {
  position:absolute;
  left:65px;
  top:723px;
  width:91px;
  height:23px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#4BACB4;
}
#u972 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#4BACB4;
}
#u973 {
  position:absolute;
  left:65px;
  top:823px;
  width:111px;
  height:23px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#4BACB4;
}
#u974 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:19px;
}
#u975 {
  position:absolute;
  left:246px;
  top:304px;
  width:25px;
  height:19px;
}
#u976 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:56px;
}
#u977 {
  position:absolute;
  left:287px;
  top:304px;
  width:54px;
  height:56px;
  opacity:0.9;
}
#u978 {
  position:absolute;
  left:2px;
  top:20px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u979 {
  position:absolute;
  left:367px;
  top:304px;
  width:29px;
  height:17px;
  color:#666666;
}
#u980 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:100px;
}
#u981 {
  position:absolute;
  left:343px;
  top:341px;
  width:241px;
  height:100px;
  color:#666666;
}
#u982 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  word-wrap:break-word;
}
#u983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u983 {
  position:absolute;
  left:287px;
  top:513px;
  width:300px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u984 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#4BACB4;
}
#u985 {
  position:absolute;
  left:296px;
  top:538px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#4BACB4;
}
#u986 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:2px;
}
#u987 {
  position:absolute;
  left:285px;
  top:453px;
  width:299px;
  height:1px;
  opacity:0.5;
}
#u988 {
  position:absolute;
  left:2px;
  top:-8px;
  width:295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u989 {
  position:absolute;
  left:532px;
  top:476px;
  width:22px;
  height:19px;
}
#u990 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u991 {
  position:absolute;
  left:372px;
  top:476px;
  width:20px;
  height:20px;
}
#u992 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u993 {
  position:absolute;
  left:452px;
  top:476px;
  width:20px;
  height:20px;
}
#u994 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A9B7B7;
}
#u995 {
  position:absolute;
  left:401px;
  top:476px;
  width:17px;
  height:17px;
  color:#A9B7B7;
}
#u996 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A9B7B7;
}
#u997 {
  position:absolute;
  left:481px;
  top:476px;
  width:17px;
  height:17px;
  color:#A9B7B7;
}
#u998 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:19px;
}
#u999 {
  position:absolute;
  left:246px;
  top:611px;
  width:25px;
  height:19px;
}
#u1000 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:56px;
}
#u1001 {
  position:absolute;
  left:287px;
  top:611px;
  width:54px;
  height:56px;
  opacity:0.9;
}
#u1002 {
  position:absolute;
  left:2px;
  top:20px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1003 {
  position:absolute;
  left:367px;
  top:611px;
  width:43px;
  height:17px;
  color:#666666;
}
#u1004 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:226px;
}
#u1005 {
  position:absolute;
  left:287px;
  top:703px;
  width:297px;
  height:226px;
  color:#666666;
}
#u1006 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  word-wrap:break-word;
}
#u1007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#4BACB4;
}
#u1007 {
  position:absolute;
  left:304px;
  top:906px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#4BACB4;
}
#u1008 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#4BACB4;
}
#u1009 {
  position:absolute;
  left:296px;
  top:1021px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#4BACB4;
}
#u1010 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:2px;
}
#u1011 {
  position:absolute;
  left:285px;
  top:941px;
  width:299px;
  height:1px;
  opacity:0.5;
}
#u1012 {
  position:absolute;
  left:2px;
  top:-8px;
  width:295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u1013 {
  position:absolute;
  left:532px;
  top:964px;
  width:22px;
  height:19px;
}
#u1014 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1015 {
  position:absolute;
  left:372px;
  top:964px;
  width:20px;
  height:20px;
}
#u1016 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1017 {
  position:absolute;
  left:452px;
  top:964px;
  width:20px;
  height:20px;
}
#u1018 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A9B7B7;
}
#u1019 {
  position:absolute;
  left:401px;
  top:964px;
  width:17px;
  height:17px;
  color:#A9B7B7;
}
#u1020 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A9B7B7;
}
#u1021 {
  position:absolute;
  left:481px;
  top:964px;
  width:17px;
  height:17px;
  color:#A9B7B7;
}
#u1022 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1023 {
  position:absolute;
  left:287px;
  top:996px;
  width:300px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u1024 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1025 {
  position:absolute;
  left:367px;
  top:646px;
  width:97px;
  height:44px;
  font-size:12px;
  color:#666666;
}
#u1026 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u1027 {
  position:absolute;
  left:78px;
  top:247px;
  width:36px;
  height:34px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1028 {
  position:absolute;
  left:2px;
  top:9px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
