body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1015px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1 {
  position:absolute;
  left:923px;
  top:197px;
  width:92px;
  height:26px;
  opacity:0.899999976158142;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u6 {
  position:absolute;
  left:10px;
  top:82px;
  width:614px;
  height:1205px;
}
#u7 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u9 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u10 {
  position:absolute;
  left:68px;
  top:12px;
  width:133px;
  height:42px;
  font-size:32px;
  color:#CCCCCC;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:970px;
}
#u13 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:90px;
}
#u15 {
  position:absolute;
  left:40px;
  top:1058px;
  width:546px;
  height:90px;
}
#u16 {
  position:absolute;
  left:2px;
  top:37px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:90px;
}
#u17 {
  position:absolute;
  left:40px;
  top:1058px;
  width:141px;
  height:90px;
}
#u18 {
  position:absolute;
  left:2px;
  top:37px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u20 {
  position:absolute;
  left:83px;
  top:1116px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u23 {
  position:absolute;
  left:201px;
  top:1116px;
  width:87px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u26 {
  position:absolute;
  left:344px;
  top:1116px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u29 {
  position:absolute;
  left:491px;
  top:1116px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u31 {
  position:absolute;
  left:219px;
  top:1066px;
  width:50px;
  height:50px;
}
#u32 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:46px;
}
#u33 {
  position:absolute;
  left:486px;
  top:1065px;
  width:50px;
  height:46px;
}
#u34 {
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:50px;
}
#u35 {
  position:absolute;
  left:90px;
  top:1062px;
  width:39px;
  height:50px;
}
#u36 {
  position:absolute;
  left:2px;
  top:17px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u37 {
  position:absolute;
  left:359px;
  top:1065px;
  width:50px;
  height:42px;
}
#u38 {
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:212px;
}
#u39 {
  position:absolute;
  left:129px;
  top:257px;
  width:363px;
  height:212px;
}
#u40 {
  position:absolute;
  left:2px;
  top:98px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:500px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42 {
  position:absolute;
  left:93px;
  top:343px;
  width:430px;
  height:500px;
}
#u43 {
  position:absolute;
  left:2px;
  top:242px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:546px;
}
#u44 {
  position:absolute;
  left:93px;
  top:343px;
  width:430px;
  height:546px;
  font-size:22px;
}
#u45 {
  position:absolute;
  left:2px;
  top:265px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#FFFFFF;
}
#u46 {
  position:absolute;
  left:118px;
  top:820px;
  width:380px;
  height:41px;
  font-size:22px;
  color:#FFFFFF;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u48 {
  position:absolute;
  left:462px;
  top:239px;
  width:50px;
  height:50px;
}
#u49 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:60px;
}
#u51 {
  position:absolute;
  left:113px;
  top:917px;
  width:390px;
  height:60px;
  font-size:20px;
}
#u52 {
  position:absolute;
  left:2px;
  top:22px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:45px;
  background:inherit;
  background-color:rgba(75, 172, 180, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u53 {
  position:absolute;
  left:149px;
  top:926px;
  width:318px;
  height:45px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u54 {
  position:absolute;
  left:0px;
  top:10px;
  width:318px;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:45px;
}
#u55 {
  position:absolute;
  left:41px;
  top:179px;
  width:543px;
  height:45px;
}
#u56 {
  position:absolute;
  left:2px;
  top:14px;
  width:539px;
  visibility:hidden;
  word-wrap:break-word;
}
