body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:624px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1702 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1703 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u1704 {
  position:absolute;
  left:10px;
  top:82px;
  width:614px;
  height:1205px;
}
#u1705 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u1706 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u1707 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u1708 {
  position:absolute;
  left:68px;
  top:12px;
  width:129px;
  height:38px;
  font-size:32px;
  color:#CCCCCC;
}
#u1709 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1710 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:970px;
}
#u1711 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1712 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:90px;
}
#u1713 {
  position:absolute;
  left:40px;
  top:1058px;
  width:546px;
  height:90px;
}
#u1714 {
  position:absolute;
  left:2px;
  top:37px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:90px;
}
#u1715 {
  position:absolute;
  left:445px;
  top:1058px;
  width:141px;
  height:90px;
}
#u1716 {
  position:absolute;
  left:2px;
  top:37px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1717 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1718 {
  position:absolute;
  left:83px;
  top:1116px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u1719 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1720 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1721 {
  position:absolute;
  left:201px;
  top:1116px;
  width:87px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u1722 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u1723 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1724 {
  position:absolute;
  left:344px;
  top:1116px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u1725 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1726 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1727 {
  position:absolute;
  left:491px;
  top:1116px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u1728 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1729 {
  position:absolute;
  left:219px;
  top:1066px;
  width:50px;
  height:50px;
}
#u1730 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:46px;
}
#u1731 {
  position:absolute;
  left:486px;
  top:1065px;
  width:50px;
  height:46px;
}
#u1732 {
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:50px;
}
#u1733 {
  position:absolute;
  left:90px;
  top:1062px;
  width:39px;
  height:50px;
}
#u1734 {
  position:absolute;
  left:2px;
  top:17px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u1735 {
  position:absolute;
  left:359px;
  top:1065px;
  width:50px;
  height:42px;
}
#u1736 {
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:45px;
}
#u1737 {
  position:absolute;
  left:41px;
  top:179px;
  width:543px;
  height:45px;
}
#u1738 {
  position:absolute;
  left:2px;
  top:14px;
  width:539px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u1739 {
  position:absolute;
  left:90px;
  top:250px;
  width:36px;
  height:34px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1740 {
  position:absolute;
  left:2px;
  top:9px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1741 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1742 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:90px;
  background:inherit;
  background-color:rgba(75, 172, 180, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u1743 {
  position:absolute;
  left:153px;
  top:841px;
  width:318px;
  height:90px;
  font-size:28px;
  color:#FFFFFF;
}
#u1744 {
  position:absolute;
  left:2px;
  top:29px;
  width:314px;
  word-wrap:break-word;
}
#u1745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u1745 {
  position:absolute;
  left:153px;
  top:662px;
  width:318px;
  height:1px;
}
#u1746 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u1747 {
  position:absolute;
  left:153px;
  top:742px;
  width:318px;
  height:1px;
}
#u1748 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#797979;
}
#u1749 {
  position:absolute;
  left:155px;
  top:634px;
  width:46px;
  height:24px;
  font-size:20px;
  color:#797979;
}
#u1750 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u1751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#4BACB4;
}
#u1751 {
  position:absolute;
  left:400px;
  top:670px;
  width:1px;
  height:36px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#4BACB4;
}
#u1752 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  white-space:nowrap;
}
#u1753 {
  position:absolute;
  left:211px;
  top:633px;
  width:234px;
  height:25px;
}
#u1753_input {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1754 {
  position:absolute;
  left:155px;
  top:713px;
  width:310px;
  height:25px;
}
#u1754_input {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#A1A1A1;
}
#u1755 {
  position:absolute;
  left:153px;
  top:346px;
  width:41px;
  height:23px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#A1A1A1;
}
#u1756 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#4BACB4;
}
#u1757 {
  position:absolute;
  left:250px;
  top:346px;
  width:41px;
  height:17px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#4BACB4;
}
#u1758 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:2px;
}
#u1759 {
  position:absolute;
  left:155px;
  top:396px;
  width:316px;
  height:1px;
  color:#999999;
}
#u1760 {
  position:absolute;
  left:2px;
  top:-8px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1761_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:77px;
  height:5px;
}
#u1761 {
  position:absolute;
  left:235px;
  top:396px;
  width:74px;
  height:2px;
  color:#999999;
}
#u1762 {
  position:absolute;
  left:2px;
  top:-7px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u1763 {
  position:absolute;
  left:153px;
  top:582px;
  width:318px;
  height:1px;
}
#u1764 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1765 {
  position:absolute;
  left:155px;
  top:551px;
  width:310px;
  height:25px;
}
#u1765_input {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
